
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../../app/assets/stylesheets/base/_reset.css.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

/* line 20, ../../app/assets/stylesheets/base/_reset.css.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 24, ../../app/assets/stylesheets/base/_reset.css.scss */
html {
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 34, ../../app/assets/stylesheets/base/_reset.css.scss */
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 42, ../../app/assets/stylesheets/base/_reset.css.scss */
body {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  color: #444;
  background: url(stucco.png);
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 52, ../../app/assets/stylesheets/base/_reset.css.scss */
i {
  font-family: "Pictos Custom";
  font-size: 1.5rem;
  font-style: normal;
  margin-right: 3px;
  position: relative;
  top: 1px;
  font-weight: normal;
  cursor: pointer;
  vertical-align: middle;
}
/* line 62, ../../app/assets/stylesheets/base/_reset.css.scss */
i.right-side {
  margin-right: 0px;
  margin-left: 3px;
}

/*
 * RESERVED CLASS NAMES
 * layout_content
 * layout_header
 * layout_footer
 * clearfix
 * muted
 *
 *
 *
 *
 *
 *
 *
 */
/* line 17, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

/* line 18, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.clearfix:after {
  clear: both;
}

/* line 19, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.clearfix {
  zoom: 1;
}

/* line 22, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
body .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
/* line 28, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
body.status .container {
  width: 850px;
}

/* line 33, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.close {
  filter: alpha(opacity=0.2);
  -moz-opacity: 0.2;
  opacity: 0.2;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
}

/* line 42, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.close:hover {
  filter: alpha(opacity=0.4);
  -moz-opacity: 0.4;
  opacity: 0.4;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

/* line 48, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.pull-right {
  float: right;
}

/* line 51, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.pull-left {
  float: left;
}

/* line 54, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.full-width {
  width: 100%;
}

/* line 57, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.align-right {
  text-align: right;
}

/* line 60, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.align-left {
  text-align: left;
}

/* line 63, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.hide {
  display: none;
}

/* line 66, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.show {
  display: block;
}

/* line 69, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.invisible {
  visibility: hidden;
}

/* line 72, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.fade {
  -webkit-transition: opacity 0.15s ease;
  -moz-transition: opacity 0.15s ease;
  -ms-transition: opacity 0.15s ease;
  -o-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
  opacity: 0;
}

/* line 76, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.fade.in {
  opacity: 1;
}

/* line 79, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.collapse {
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -ms-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
  position: relative;
  overflow: hidden;
  height: 0;
}

/* line 85, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.collapse.in {
  height: auto;
}

/* line 88, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 93, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.caret {
  filter: alpha(opacity=0.3);
  -moz-opacity: 0.3;
  opacity: 0.3;
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  content: "\2193";
}
/* line 105, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.caret.link {
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  opacity: 1;
  border-top-color: #0097db;
}

/* line 111, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.white-content-container {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 30px;
}

/* line 118, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.color-green {
  color: #8fd918;
}

/* line 122, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.color-red {
  color: #d73636;
}

/* line 126, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.color-orange {
  color: #f58516;
}

/* line 130, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.color-yellow {
  color: #f6d11c;
}

/* line 134, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.color-blue {
  color: #0097db;
}

/* line 138, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.color-purple {
  color: #9f17d8;
}

/* line 142, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.color-pink {
  color: #df40a2;
}

/* line 146, ../../app/assets/stylesheets/base/_helper_classes.css.scss */
.well {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  min-height: 20px;
  padding: 2rem;
  background-color: whiteSmoke;
  border: 1px solid #E3E3E3;
}

/************** PARAGRAPHS **************/
/* line 21, ../../app/assets/stylesheets/base/_typography.css.scss */
p {
  margin-bottom: .5rem;
}

/************** HEADERS **************/
/* line 29, ../../app/assets/stylesheets/base/_typography.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
/* line 31, ../../app/assets/stylesheets/base/_typography.css.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #888888;
  font-weight: 400;
}

/* line 37, ../../app/assets/stylesheets/base/_typography.css.scss */
h1 {
  font-size: 48px;
  line-height: 52.8px;
  font-size: 3rem;
  line-height: 3.3rem;
  margin-bottom: .9rem;
}
/* line 40, ../../app/assets/stylesheets/base/_typography.css.scss */
h1 small {
  font-size: 32px;
  line-height: 41.6px;
  font-size: 2rem;
  line-height: 2.6rem;
  position: relative;
  top: -0.4rem;
}

/* line 47, ../../app/assets/stylesheets/base/_typography.css.scss */
h2 {
  font-size: 41.6px;
  line-height: 49.088px;
  font-size: 2.6rem;
  line-height: 3.068rem;
  margin-bottom: .8rem;
}
/* line 50, ../../app/assets/stylesheets/base/_typography.css.scss */
h2 small {
  font-size: 28px;
  line-height: 37.8px;
  font-size: 1.75rem;
  line-height: 2.3625rem;
  position: relative;
  top: -0.3 0.5rem;
}

/* line 57, ../../app/assets/stylesheets/base/_typography.css.scss */
h3 {
  font-size: 35.2px;
  line-height: 44.352px;
  font-size: 2.2rem;
  line-height: 2.772rem;
  margin-bottom: .7rem;
}
/* line 60, ../../app/assets/stylesheets/base/_typography.css.scss */
h3 small {
  font-size: 24px;
  line-height: 33.6px;
  font-size: 1.5rem;
  line-height: 2.1rem;
  position: relative;
  top: -0.3rem;
}

/* line 67, ../../app/assets/stylesheets/base/_typography.css.scss */
h4 {
  font-size: 28.8px;
  line-height: 38.592px;
  font-size: 1.8rem;
  line-height: 2.412rem;
  margin-bottom: .6rem;
}
/* line 70, ../../app/assets/stylesheets/base/_typography.css.scss */
h4 small {
  font-size: 20px;
  line-height: 29px;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  position: relative;
  top: -0.2rem;
}

/* line 77, ../../app/assets/stylesheets/base/_typography.css.scss */
h5 {
  font-size: 22.4px;
  line-height: 31.808px;
  font-size: 1.4rem;
  line-height: 1.988rem;
  margin-bottom: .5rem;
}
/* line 80, ../../app/assets/stylesheets/base/_typography.css.scss */
h5 small {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* line 85, ../../app/assets/stylesheets/base/_typography.css.scss */
h6 {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: .4rem;
}
/* line 88, ../../app/assets/stylesheets/base/_typography.css.scss */
h6 small {
  font-size: 12.8px;
  line-height: 19.712px;
  font-size: 0.8rem;
  line-height: 1.232rem;
}

/************** LISTS **************/
/* line 98, ../../app/assets/stylesheets/base/_typography.css.scss */
ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 106, ../../app/assets/stylesheets/base/_typography.css.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* line 110, ../../app/assets/stylesheets/base/_typography.css.scss */
ul.styled, ol.styled {
  margin-bottom: 10px;
  margin-left: 15px;
}

/* line 114, ../../app/assets/stylesheets/base/_typography.css.scss */
ul.styled {
  list-style: disc;
}

/* line 117, ../../app/assets/stylesheets/base/_typography.css.scss */
ol.styled {
  list-style: decimal;
}

/************** DEFINITIONS **************/
/* line 123, ../../app/assets/stylesheets/base/_typography.css.scss */
dl {
  margin-bottom: 18px;
}

/* line 126, ../../app/assets/stylesheets/base/_typography.css.scss */
dt, dd {
  line-height: 18px;
}

/* line 129, ../../app/assets/stylesheets/base/_typography.css.scss */
dt {
  font-weight: bold;
}

/* line 132, ../../app/assets/stylesheets/base/_typography.css.scss */
dd {
  margin-left: 9px;
}
a {
  text-decoration: none !important;
}
/* line 135, ../../app/assets/stylesheets/base/_typography.css.scss */
hr {
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

/* line 141, ../../app/assets/stylesheets/base/_typography.css.scss */
strong {
  font-weight: bold;
}

/* line 144, ../../app/assets/stylesheets/base/_typography.css.scss */
em {
  font-style: italic;
}

/* line 147, ../../app/assets/stylesheets/base/_typography.css.scss */
abbr {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

/* line 153, ../../app/assets/stylesheets/base/_typography.css.scss */
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eeeeee;
}

/* line 158, ../../app/assets/stylesheets/base/_typography.css.scss */
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.5px;
}

/* line 164, ../../app/assets/stylesheets/base/_typography.css.scss */
blockquote small {
  display: block;
  line-height: 18px;
  color: #999999;
}

/* line 169, ../../app/assets/stylesheets/base/_typography.css.scss */
blockquote small:before {
  content: '\2014 \00A0';
}

/* line 172, ../../app/assets/stylesheets/base/_typography.css.scss */
blockquote.pull-right {
  float: right;
  padding-left: 0;
  padding-right: 15px;
  border-left: 0;
  border-right: 5px solid #eeeeee;
}

/* line 179, ../../app/assets/stylesheets/base/_typography.css.scss */
blockquote.pull-right p, blockquote.pull-right small {
  text-align: right;
}

/* line 185, ../../app/assets/stylesheets/base/_typography.css.scss */
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

/* line 188, ../../app/assets/stylesheets/base/_typography.css.scss */
address {
  display: block;
  margin-bottom: 18px;
  line-height: 18px;
  font-style: normal;
}

/* line 194, ../../app/assets/stylesheets/base/_typography.css.scss */
small {
  font-size: 14px;
  line-height: 21.35px;
  font-size: 0.875rem;
  line-height: 1.33438rem;
  color: #aaaaaa;
}

/* line 198, ../../app/assets/stylesheets/base/_typography.css.scss */
cite {
  font-style: normal;
}

/* line 202, ../../app/assets/stylesheets/base/_typography.css.scss */
sub {
  vertical-align: sub;
}

/* line 206, ../../app/assets/stylesheets/base/_typography.css.scss */
sup {
  vertical-align: super;
}

/************** CODE **************/
/* line 212, ../../app/assets/stylesheets/base/_typography.css.scss */
code, pre {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  font-size: 12px;
  line-height: 18.6px;
  font-size: 0.75rem;
  line-height: 1.1625rem;
  font-family: Menlo, Monaco, "Courier New", monospace;
}

/* line 217, ../../app/assets/stylesheets/base/_typography.css.scss */
code {
  padding: 3px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

/* line 223, ../../app/assets/stylesheets/base/_typography.css.scss */
pre {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  box-shadow: 40px 0 0 #fbfbfc inset, 41px 0 0 #ececf0 inset;
  -moz-box-shadow: 40px 0 0 #fbfbfc inset, 41px 0 0 #ececf0 inset;
  -webkit-box-shadow: 40px 0 0 #fbfbfc inset, 41px 0 0 #ececf0 inset;
  -o-box-shadow: 40px 0 0 #fbfbfc inset, 41px 0 0 #ececf0 inset;
  -ms-box-shadow: 40px 0 0 #fbfbfc inset, 41px 0 0 #ececf0 inset;
  background-color: #f5f5f5;
  border: 1px solid #E1E1E1;
  padding: .5rem;
  white-space: pre-wrap;
}
/* line 230, ../../app/assets/stylesheets/base/_typography.css.scss */
pre ol {
  list-style-type: decimal;
}
/* line 232, ../../app/assets/stylesheets/base/_typography.css.scss */
pre ol li {
  margin: .2rem 0 .2rem 1.8rem;
  padding-left: 1rem;
}

/************************ BASIC FOR ELEMENTS STYLING ******************************/
/* line 2, ../../app/assets/stylesheets/base/_forms.css.scss */
input::-webkit-input-placeholder {
  color: #bbb;
}

/* line 5, ../../app/assets/stylesheets/base/_forms.css.scss */
input:-moz-placeholder {
  color: #bbb;
}

/* line 9, ../../app/assets/stylesheets/base/_forms.css.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 16, ../../app/assets/stylesheets/base/_forms.css.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  line-height: normal !important;
}

/* line 22, ../../app/assets/stylesheets/base/_forms.css.scss */
label, input, textarea, button, select {
  font-family: "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  font-size: 16px;
  vertical-align: middle;
}

/* line 28, ../../app/assets/stylesheets/base/_forms.css.scss */
input, textarea, select {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  display: inline-block;
  border: 1px solid #bbb;
  padding: 8px;
  height: 40px;
  width: 250px;
}

/* line 37, ../../app/assets/stylesheets/base/_forms.css.scss */
input[type="text"], input[type="password"], input[type="email"], textarea, select {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06) inset;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06) inset;
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06) inset;
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06) inset;
}

/* line 41, ../../app/assets/stylesheets/base/_forms.css.scss */
input {
  word-wrap: normal;
  word-break: normal;
}

/* line 46, ../../app/assets/stylesheets/base/_forms.css.scss */
textarea {
  resize: vertical;
  height: 6rem;
}
/* line 49, ../../app/assets/stylesheets/base/_forms.css.scss */
textarea.size-small {
  height: 4rem;
}
/* line 52, ../../app/assets/stylesheets/base/_forms.css.scss */
textarea.size-large {
  height: 8rem;
}

/* line 57, ../../app/assets/stylesheets/base/_forms.css.scss */
select {
  padding: 6px;
}

/* line 61, ../../app/assets/stylesheets/base/_forms.css.scss */
label {
  display: block;
  font-weight: bold;
}
/* line 64, ../../app/assets/stylesheets/base/_forms.css.scss */
label.required {
  font-weight: bold;
}
/* line 66, ../../app/assets/stylesheets/base/_forms.css.scss */
label.required:after {
  content: "*";
}

/* line 72, ../../app/assets/stylesheets/base/_forms.css.scss */
input[type="checkbox"], input[type="radio"] {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  width: auto;
  height: auto;
  padding: 0;
  position: relative;
  top: 1px;
  line-height: normal;
  border: 0;
  cursor: pointer;
}

/* line 84, ../../app/assets/stylesheets/base/_forms.css.scss */
input[type="hidden"] {
  display: none;
}

/* line 88, ../../app/assets/stylesheets/base/_forms.css.scss */
input[disabled], select[disabled], textarea[disabled], select[readonly] {
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: not-allowed;
}
/* line 92, ../../app/assets/stylesheets/base/_forms.css.scss */
input[disabled]:hover, select[disabled]:hover, textarea[disabled]:hover, select[readonly]:hover {
  border-color: #ddd;
}

/************************ HOVER/FOCUS STATES ******************************/
/* line 103, ../../app/assets/stylesheets/base/_forms.css.scss */
input:hover, textarea:hover {
  border: 1px solid #b0b0b0;
}
/* line 106, ../../app/assets/stylesheets/base/_forms.css.scss */
input:focus, textarea:focus {
  border: 1px solid #a0a0a0;
  outline: none;
}

/************************ INVALID STATES ******************************/
/* line 117, ../../app/assets/stylesheets/base/_forms.css.scss */
.control-group.invalid > label, .control-group.invalid .help-block, .control-group.invalid .help-inline {
  color: #d73636;
}

/* line 120, ../../app/assets/stylesheets/base/_forms.css.scss */
.control-group.invalid input, .control-group.invalid .select, .control-group.invalid textarea {
  color: #d73636;
  border-color: #d73636;
}

/************************ HELP BLOCKS AND HELP INLINES ******************************/
/* line 130, ../../app/assets/stylesheets/base/_forms.css.scss */
.help-block {
  font-size: 12px;
  line-height: 18.6px;
  font-size: 0.75rem;
  line-height: 1.1625rem;
  margin-top: .25rem;
  margin-bottom: 0;
  color: #aaa;
  display: block;
}

/* line 137, ../../app/assets/stylesheets/base/_forms.css.scss */
.help-inline {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-bottom: .5rem;
  vertical-align: middle;
  padding-left: .25rem;
  color: #aaa;
  font-size: .75rem;
}

/************************ INLINE/HORIZONTAL LAYOUT OVERRIDES ******************************/
/* line 159, ../../app/assets/stylesheets/base/_forms.css.scss */
.form-inline input,
.form-horizontal input,
.form-inline textarea,
.form-horizontal textarea,
.form-inline .help-inline,
.form-horizontal .help-inline {
  display: inline-block;
  margin-bottom: 0;
}

/* line 165, ../../app/assets/stylesheets/base/_forms.css.scss */
input[type="text"].inline {
  position: relative;
  top: -2px;
  margin: 0 .25rem;
}

/************************ INLINE/HORIZONTAL LAYOUT OVERRIDES ******************************/
/* line 178, ../../app/assets/stylesheets/base/_forms.css.scss */
.controls.prepend > .ilb, .controls.append > .ilb {
  display: inline-block;
  position: relative;
}
/* line 182, ../../app/assets/stylesheets/base/_forms.css.scss */
.controls.prepend label, .controls.append label {
  background-color: #f4f4f4;
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #f7f7f7, #f2f2f2);
  background-image: -moz-linear-gradient(top, #f7f7f7, #f2f2f2);
  background-image: -ms-linear-gradient(top, #f7f7f7, #f2f2f2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #f2f2f2);
  background-image: -o-linear-gradient(top, #f7f7f7, #f2f2f2);
  box-shadow: 0 1px 0 white inset;
  -moz-box-shadow: 0 1px 0 white inset;
  -webkit-box-shadow: 0 1px 0 white inset;
  -o-box-shadow: 0 1px 0 white inset;
  -ms-box-shadow: 0 1px 0 white inset;
  position: absolute;
  width: 40px;
  top: 1px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #666666;
  text-shadow: 0 1px 0 white;
  font-weight: bold;
}
/* line 194, ../../app/assets/stylesheets/base/_forms.css.scss */
.controls.prepend label.prepender, .controls.append label.prepender {
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  left: 1px;
  border-right: 1px solid #ccc;
}
/* line 199, ../../app/assets/stylesheets/base/_forms.css.scss */
.controls.prepend label.appender, .controls.append label.appender {
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  right: 1px;
  border-left: 1px solid #ccc;
}
/* line 205, ../../app/assets/stylesheets/base/_forms.css.scss */
.controls.prepend input.prepend, .controls.append input.prepend {
  padding-left: 3rem;
}
/* line 208, ../../app/assets/stylesheets/base/_forms.css.scss */
.controls.prepend input.append, .controls.append input.append {
  padding-right: 3rem;
}

/************************ CONTROL GROUP AND form-HORIZONTAL ******************************/
/* line 220, ../../app/assets/stylesheets/base/_forms.css.scss */
.control-group {
  margin-bottom: 2rem;
  clear: both;
}
/* line 223, ../../app/assets/stylesheets/base/_forms.css.scss */
.control-group:last-of-type {
  margin-bottom: 0px;
}
/* line 226, ../../app/assets/stylesheets/base/_forms.css.scss */
.control-group.has-mb {
  margin-bottom: 2rem;
}
/* line 229, ../../app/assets/stylesheets/base/_forms.css.scss */
.control-group > label {
  margin-bottom: .25rem;
}

/* line 234, ../../app/assets/stylesheets/base/_forms.css.scss */
.form-horizontal .control-group > label {
  float: left;
  width: 8.75rem;
  padding-top: .5rem;
  text-align: right;
  margin-bottom: 0px;
}
/* line 240, ../../app/assets/stylesheets/base/_forms.css.scss */
.form-horizontal .control-group > label.two-lines {
  padding-top: 0;
  position: relative;
  top: -3px;
}
@media screen and (max-width: 768px) {
  /* line 234, ../../app/assets/stylesheets/base/_forms.css.scss */
  .form-horizontal .control-group > label {
    float: none;
    width: auto;
    padding-top: 0px;
    text-align: left;
  }
}

/* line 253, ../../app/assets/stylesheets/base/_forms.css.scss */
.form-horizontal .controls {
  margin-left: 10rem;
}
/* line 255, ../../app/assets/stylesheets/base/_forms.css.scss */
.form-horizontal .controls.no_left_margin {
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  /* line 253, ../../app/assets/stylesheets/base/_forms.css.scss */
  .form-horizontal .controls {
    margin-left: 0;
  }
}

/* line 262, ../../app/assets/stylesheets/base/_forms.css.scss */
.form-horizontal .form-actions {
  padding-left: 10rem;
}
/* line 264, ../../app/assets/stylesheets/base/_forms.css.scss */
.form-horizontal .form-actions a {
  margin-right: .6rem;
}

/************************ FOR RADIO/CHECKBOXES ******************************/
/* line 287, ../../app/assets/stylesheets/base/_forms.css.scss */
.radio, .checkbox {
  padding-left: 1.4rem;
  font-weight: normal;
}

/* line 292, ../../app/assets/stylesheets/base/_forms.css.scss */
.radio input[type="radio"], .checkbox input[type="checkbox"] {
  float: left;
  margin-left: -1.4rem;
}

/* line 297, ../../app/assets/stylesheets/base/_forms.css.scss */
.radio + .radio, .checkbox + .checkbox {
  padding-top: .25rem;
}

/* line 301, ../../app/assets/stylesheets/base/_forms.css.scss */
.radio.inline, .checkbox.inline {
  display: inline-block;
  margin-bottom: 0;
}

/* line 305, ../../app/assets/stylesheets/base/_forms.css.scss */
.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
  margin-left: 1.5rem;
  padding-top: 0rem;
}

/* line 1, ../../app/assets/stylesheets/components/_cpt_notification.css.scss */
.cpt-notification {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  width: 1200px;
  position: fixed;
  top: -25%;
  left: 50%;
  margin-left: -600px;
  z-index: 9999;
  padding: 10px 15px;
  /*
   * DIFFERENT STYLES
   */
}
/* line 11, ../../app/assets/stylesheets/components/_cpt_notification.css.scss */
.cpt-notification .close {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0px;
  right: 4px;
  font-size: .6em;
}
/* line 17, ../../app/assets/stylesheets/components/_cpt_notification.css.scss */
.cpt-notification .close:hover {
  color: white;
}
/* line 21, ../../app/assets/stylesheets/components/_cpt_notification.css.scss */
.cpt-notification a {
  text-decoration: underline;
  color: white;
}
/* line 24, ../../app/assets/stylesheets/components/_cpt_notification.css.scss */
.cpt-notification a:hover {
  color: white;
  text-decoration: underline;
}
/* line 29, ../../app/assets/stylesheets/components/_cpt_notification.css.scss */
.cpt-notification.show {
  top: 4%;
}
@media screen and (max-width: 1200px) {
  /* line 1, ../../app/assets/stylesheets/components/_cpt_notification.css.scss */
  .cpt-notification {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    width: 100%;
    padding: 15px;
    left: 0px;
    right: 0px;
    margin-left: 0px;
  }
  /* line 40, ../../app/assets/stylesheets/components/_cpt_notification.css.scss */
  .cpt-notification.show {
    top: 0px;
  }
}
/* line 49, ../../app/assets/stylesheets/components/_cpt_notification.css.scss */
.cpt-notification.info {
  color: #fff;
  background-color: #0096da;
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #0097db, #0097db);
  background-image: -moz-linear-gradient(top, #0097db, #0097db);
  background-image: -ms-linear-gradient(top, #0097db, #0097db);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0097db), color-stop(100%, #0097db));
  background-image: -webkit-linear-gradient(top, #0097db, #0097db);
  background-image: -o-linear-gradient(top, #0097db, #0097db);
  border: 1px solid #0079bd;
}
/* line 54, ../../app/assets/stylesheets/components/_cpt_notification.css.scss */
.cpt-notification.error {
  color: #fff;
  background-color: #d63636;
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #d73636, #d73636);
  background-image: -moz-linear-gradient(top, #d73636, #d73636);
  background-image: -ms-linear-gradient(top, #d73636, #d73636);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d73636), color-stop(100%, #d73636));
  background-image: -webkit-linear-gradient(top, #d73636, #d73636);
  background-image: -o-linear-gradient(top, #d73636, #d73636);
  border: 1px solid #b91818;
}


/* line 1, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin: -250px 0 0 -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 14, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal.fade {
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -ms-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
  top: -25%;
}
/* line 17, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal.fade.in {
  top: 50%;
}
@media screen and (max-width: 480px) {
  /* line 1, ../../app/assets/stylesheets/components/_cpt_modal.scss */
  .modal {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0 0 0 0px;
    width: auto;
  }
  /* line 30, ../../app/assets/stylesheets/components/_cpt_modal.scss */
  .modal.fade {
    top: -100%;
  }
  /* line 32, ../../app/assets/stylesheets/components/_cpt_modal.scss */
  .modal.fade.in {
    top: 0px;
  }
}
/* line 38, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal .modal-header {
  padding: 9px 25px;
  border-bottom: 1px solid #eee;
}
/* line 186, ../../app/assets/stylesheets/base/_mixins.css.scss */
.modal .modal-header h1, .modal .modal-header h2, .modal .modal-header h3, .modal .modal-header h4, .modal .modal-header h5, .modal .modal-header h6, .modal .modal-header p {
  margin-bottom: 0;
}
/* line 42, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal .modal-header.close {
  margin-top: 2px;
}
/* line 46, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal .modal-body {
  padding: 25px;
  max-height: 380px;
  overflow-y: auto;
}
/* line 51, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal .modal-footer {
  border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 white;
  -webkit-box-shadow: inset 0 1px 0 white;
  -o-box-shadow: inset 0 1px 0 white;
  -ms-box-shadow: inset 0 1px 0 white;
  padding: 15px 25px;
  margin-bottom: 0;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  text-align: right;
  *zoom: 1;
}
/* line 60, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal .modal-footer button + button, .modal .modal-footer a + a {
  margin-left: .25rem;
}
/* line 63, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal .modal-footer:before, .modal .modal-footer:after {
  display: table;
  content: "";
}
/* line 67, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal .modal-footer:after {
  clear: both;
}
/* line 72, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal .form-horizontal input[type="text"], .modal .form-horizontal input[type="email"], .modal .form-horizontal input[type="password"], .modal .form-horizontal textarea, .modal .form-horizontal select {
  width: 100%;
}

/* line 79, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal-open .dropdown-menu {
  z-index: 2050;
}
/* line 82, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal-open .dropdown.open {
  *z-index: 2050;
}
/* line 85, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal-open .popover {
  z-index: 2060;
}
/* line 88, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal-open .tooltip {
  z-index: 2070;
}

/* line 93, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal-backdrop {
  background-image: radial-gradient(50% 50%, circle closest-corner, rgba(0, 0, 0, 0.7), black 100%);
  background-image: -moz-radial-gradient(50% 50%, circle closest-corner, rgba(0, 0, 0, 0.7), black 100%);
  background-image: -webkit-radial-gradient(50% 50%, circle closest-corner, rgba(0, 0, 0, 0.7), black 100%);
  background-image: -ms-radial-gradient(50% 50%, circle closest-corner, rgba(0, 0, 0, 0.7), black 100%);
  background-image: -o-radial-gradient(50% 50%, circle closest-corner, rgba(0, 0, 0, 0.7), black 100%);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}
/* line 101, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal-backdrop.fade {
  opacity: 0;
}
/* line 104, ../../app/assets/stylesheets/components/_cpt_modal.scss */
.modal-backdrop, .modal-backdrop.fade.in {
  filter: alpha(opacity=0.8);
  -moz-opacity: 0.8;
  opacity: 0.8;
}

/* li

/* line 3, ../../app/assets/stylesheets/components/_cpt_dropdown.scss */
.dropdown {
  position: relative;
}
/* line 5, ../../app/assets/stylesheets/components/_cpt_dropdown.scss */
.dropdown.open .dropdown-menu {
  display: block;
}
/* line 8, ../../app/assets/stylesheets/components/_cpt_dropdown.scss */
.dropdown .caret {
  vertical-align: middle;
  margin-left: .125rem;
}
/* line 12, ../../app/assets/stylesheets/components/_cpt_dropdown.scss */
.dropdown .dropdown-menu {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  position: absolute;
  top: 110%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  width: 250px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 28, ../../app/assets/stylesheets/components/_cpt_dropdown.scss */
.dropdown .dropdown-menu.right-align {
  left: auto;
  right: -10px;
}
/* line 32, ../../app/assets/stylesheets/components/_cpt_dropdown.scss */
.dropdown .dropdown-menu li {
  border-bottom: 1px solid #f0f0f0;
}
/* line 34, ../../app/assets/stylesheets/components/_cpt_dropdown.scss */
.dropdown .dropdown-menu li:last-of-type {
  border-bottom: none;
}
/* line 37, ../../app/assets/stylesheets/components/_cpt_dropdown.scss */
.dropdown .dropdown-menu li a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  padding: 8px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  width: 250px;
}
/* line 46, ../../app/assets/stylesheets/components/_cpt_dropdown.scss */
.dropdown .dropdown-menu li a i {
  margin-right: .5rem;
  color: #aaaaaa;
}
/* line 50, ../../app/assets/stylesheets/components/_cpt_dropdown.scss */
.dropdown .dropdown-menu li a:after {
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}
/* line 56, ../../app/assets/stylesheets/components/_cpt_dropdown.scss */
.dropdown .dropdown-menu li.active a, .dropdown .dropdown-menu li a:hover {
  font-weight: bold;
}
/* line 58, ../../app/assets/stylesheets/components/_cpt_dropdown.scss */
.dropdown .dropdown-menu li.active a i, .dropdown .dropdown-menu li a:hover i {
  color: #333333;
}
/* line 61, ../../app/assets/stylesheets/components/_cpt_dropdown.scss */
.dropdown .dropdown-menu li.active a:after, .dropdown .dropdown-menu li a:hover:after {
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  opacity: 1;
}
/* line 65, ../../app/assets/stylesheets/components/_cpt_dropdown.scss */
.dropdown .dropdown-menu li.divider {
  height: 1px;
  margin: 5px 0px;
  overflow: hidden;
  background-color: #e5e5e5;
}

/* line 1, ../../app/assets/stylesheets/components/_cpt_tooltip.scss */
.tooltip {
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  font-size: 12px;
  line-height: 18.6px;
  font-size: 0.75rem;
  line-height: 1.1625rem;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  z-index: 1020;
  display: block;
  visibility: visible;
  padding: 5px;
}
/* line 10, ../../app/assets/stylesheets/components/_cpt_tooltip.scss */
.tooltip.in {
  filter: alpha(opacity=0.8);
  -moz-opacity: 0.8;
  opacity: 0.8;
}
/* line 13, ../../app/assets/stylesheets/components/_cpt_tooltip.scss */
.tooltip.top {
  margin-top: -2px;
}
/* line 15, ../../app/assets/stylesheets/components/_cpt_tooltip.scss */
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
/* line 24, ../../app/assets/stylesheets/components/_cpt_tooltip.scss */
.tooltip.right {
  margin-left: 2px;
}
/* line 26, ../../app/assets/stylesheets/components/_cpt_tooltip.scss */
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
}
/* line 35, ../../app/assets/stylesheets/components/_cpt_tooltip.scss */
.tooltip.bottom {
  margin-top: 2px;
}
/* line 37, ../../app/assets/stylesheets/components/_cpt_tooltip.scss */
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}
/* line 46, ../../app/assets/stylesheets/components/_cpt_tooltip.scss */
.tooltip.left {
  margin-left: -2px;
}
/* line 48, ../../app/assets/stylesheets/components/_cpt_tooltip.scss */
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}
/* line 57, ../../app/assets/stylesheets/components/_cpt_tooltip.scss */
.tooltip .tooltip-inner {
  border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  max-width: 240px;
  padding: .6rem;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
}
/* line 66, ../../app/assets/stylesheets/components/_cpt_tooltip.scss */
.tooltip .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}

/* line 1, ../../app/assets/stylesheets/components/_cpt_popover.scss */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  padding: 5px;
}
/* line 8, ../../app/assets/stylesheets/components/_cpt_popover.scss */
.popover.top {
  margin-top: -5px;
}
/* line 10, ../../app/assets/stylesheets/components/_cpt_popover.scss */
.popover.top .arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
/* line 19, ../../app/assets/stylesheets/components/_cpt_popover.scss */
.popover.right {
  margin-left: 5px;
}
/* line 21, ../../app/assets/stylesheets/components/_cpt_popover.scss */
.popover.right .arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
}
/* line 30, ../../app/assets/stylesheets/components/_cpt_popover.scss */
.popover.bottom {
  margin-top: 5px;
}
/* line 32, ../../app/assets/stylesheets/components/_cpt_popover.scss */
.popover.bottom .arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}
/* line 41, ../../app/assets/stylesheets/components/_cpt_popover.scss */
.popover.left {
  margin-left: -5px;
}
/* line 43, ../../app/assets/stylesheets/components/_cpt_popover.scss */
.popover.left .arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}
/* line 52, ../../app/assets/stylesheets/components/_cpt_popover.scss */
.popover .arrow {
  position: absolute;
  width: 0;
  height: 0;
}
/* line 57, ../../app/assets/stylesheets/components/_cpt_popover.scss */
.popover .popover-inner {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  padding: 3px;
  width: 280px;
  overflow: hidden;
  background: #000000;
  background: rgba(0, 0, 0, 0.8);
}
/* line 186, ../../app/assets/stylesheets/base/_mixins.css.scss */
.popover .popover-inner h1, .popover .popover-inner h2, .popover .popover-inner h3, .popover .popover-inner h4, .popover .popover-inner h5, .popover .popover-inner h6, .popover .popover-inner p {
  margin-bottom: 0;
}
/* line 66, ../../app/assets/stylesheets/components/_cpt_popover.scss */
.popover .popover-inner .popover-title {
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  padding: .625rem 1rem;
  line-height: 1;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}
/* line 73, ../../app/assets/stylesheets/components/_cpt_popover.scss */
.popover .popover-inner .popover-content {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  padding: .625rem 1rem;
  background-color: #ffffff;
}


/* line 1, ../../app/assets/stylesheets/components/_cpt_button.css.scss */
.cpt-button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  /* Default Button Size */
  border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  font-size: 1rem;
  padding: 0 1.25rem;
  height: 2.2rem;
  line-height: 2.2rem;
  /* Default Button Style */
  background-repeat: repeat-x;
  
  background-image: linear-gradient(top, #6F97B6, #3F729B);
  background-image: -webkit-linear-gradient(top, #6F97B6, #3F729B);
  border:1px solid #1C5380;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px 0px, rgba(255, 255, 255, 0.0470588) 1px 0px 0px 0px inset, rgba(255, 255, 255, 0.0470588) -1px 0px 0px 0px inset, rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px inset;
  color: #fff !important;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  letter-spacing: .5px;
}
/* line 18, ../../app/assets/stylesheets/components/_cpt_button.css.scss */
.cpt-button:hover {
  color: #fff;
}
/* line 22, ../../app/assets/stylesheets/components/_cpt_button.css.scss */











.widget-container {
  width:302px;
  border-radius: 6px;
  overflow:hidden;
  position:fixed;
  top:25%;
  left:50%;
  margin-left:-150px;
  border:1px solid rgba(0,0,0,.25);
  box-shadow:0 2px 4px rgba(0,0,0,.2);
}
#preloader {
  position: fixed;
  top:-500%;
  left:-500%;
  visibility: hidden;
}
.images-container {
  overflow: hidden;
  width:300px;
  height:150px;
}
.image-container {
  width:100px;
  height:75px;
  position:absolute;
  overflow: hidden;
}
.image-container:nth-of-type(1) {
  top:0px;
  left:0px;
}
.image-container:nth-of-type(2) {
  top:0px;
  left:100px;
}
.image-container:nth-of-type(3) {
  top:0px;
  left:200px;
}
.image-container:nth-of-type(4) {
  top:75px;
  left:200px;
}
.image-container:nth-of-type(5) {
  top:75px;
  left:100px;
}
.image-container:nth-of-type(6) {
  top:75px;
  left:0px; 
}


.image-container:first-of-type img {
  border-radius:6px 0 0 0;

}
.image-container:nth-of-type(3) img {
  border-radius:0 6px 0 0;

}
.account-info {
  position:relative;
}
.profile-pic-container {
  position:absolute;
  height:75px;
  width:75px;
  left:113px;
  top:-60px;
  background:#fff;
  border:1px solid rgba(0,0,0,.4);
  box-shadow:0 1px 2px rgba(0,0,0,.1);
  border-radius: 4px;
  padding:3px;
}

.profile-pic-container img {
  border-radius: 4px;
}
.user-name {
  text-align:center;
  padding:1.5rem 0 .6rem;
  font-size:1.5rem;
  font-weight: 600;
  text-shadow: 0 1px 0 white;

  background-repeat: repeat-x;
  background-image: linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -ms-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  border-bottom:1px solid #d3d3d3;
  box-shadow:0 -1px 0 rgba(0,0,0,.3);
}

.meta-container {
  background:#fff;
  overflow:hidden;
  border-radius: 0 0 6px 6px;
  font-size:.875rem;
  line-height:21px;
}
.meta-container a {
  float:left;
  position:relative;
  top:12px;
  left:24px;
}
.meta-container .meta {
  float:right;
  display:inline-block;
  text-align: center;
  padding:.5rem 1rem;
  border-left:1px solid #f0f0f0;
}
.meta-container .meta:hover {
  background-color:rgba(0,0,0,.03);
  box-shadow: 0 2px 6px rgba(0,0,0,.05) inset, 0 -1px 0 rgba(0,0,0,.3), 1px 0px 0 rgba(0,0,0,.1);
  cursor:pointer;
  border-left:1px solid #dadada;
}

.meta-container .val {
  font-weight:bold;
  font-size:1rem;
}

.meta-container .key {
  color:#aaa;
}